.add-form {
  background-color: #FDFDFD80;
  margin-top: 40px;
  text-align: center;

}

.border-project{
  border: 1px dotted;
  border-color: rgb(91, 22, 22);
  width: 50rem;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  display: inline-block;

}
