.background-pages {
  width: 100%;
  max-height: 100%;
}
.position3 {
  margin-left:20rem;

}
.page-grid {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr, 1fr;
  column-gap: 4rem;
  row-gap: 3rem;
  justify-content: center;

}

.priority-card {
  grid-column: 1 ;
  grid-row: 1 / span 2;
  background-color: #ffffff;
  height: 16rem;
  width: 100%;
  margin-top: 10%;
  border-radius: 0.5rem;
  margin-left: 3%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.priority-card:hover {

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.view-card {
  grid-column: 1 ;
  grid-row: 2 / span 2;
  background-color: #ffffff;
  height: 13.8rem;
  width: 100%;
  margin-top: 4rem;
  margin-left: 3%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.view-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.schedule-card {
  grid-column: 2;
  grid-row: 1 / span 2;
  background-color: #ffffff;
  margin-top: 6.2rem;
  height: 86%;
  width: 100%;
  margin-bottom: 1%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  min-height: 32.5rem;
  max-height: 32.5rem;

}

.schedule-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}
.create{
    display: flex;
    justify-content: center;
    position: absolute;
    padding-left: 8.3rem;

  }
.bar-size-position {
  margin-left: 18.5rem;
  width: 20rem;
}

.progress {
  border-radius: 25px;
}

.progress-bar {
  background-color: rgba(0, 128, 0, 0.70);;
}

.see-project {
  display:flex;
  position:absolute;

  padding-left: 38rem;
  justify-content: right;
  padding-top: 0.5rem;
  // background-color: black;
}


.new-box-1 {
  background-color: rgba(0, 128, 0, 0.70);
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 0.5rem;
  left: 4rem;
  top: 10rem;
}
.box-project {
  color:white;
  padding-top: 1.7rem;
  text-align: center;
}
.text-position-1{
  padding-top: 2rem;
  padding-left: 7rem;
  text-align: center;
}


.new-box-2 {
  background-color: rgba(0, 128, 0, 0.70);
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 0.5rem;
  left: 4rem;
  top: 28.8rem;
}

.box-project-2 {
  color:white;
  padding: 0.5rem;
  text-align: center;
}

.text-position-2{
  padding-top: 1.5rem;
  padding-left: 15rem;
  text-align: left;
}


.new-box-3 {
  background-color: rgba(0, 128, 0, 0.70);
  height: 3rem;
  width: 15rem;
  position: absolute;
  border-radius: 0.5rem;
  left: 64.7rem;
  top: 7rem;
}

.box-project-3 {
  color:white;
  padding: 0.2rem;
  text-align: center;
}

.text-position-3 {
  padding-top: 1.5rem;

  text-align: center;
}




//----------responsive

@media (max-width: 600px) {

  .page-grid {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 1rem;
  }

  .priority-card {
    grid-column: 1 ;
    grid-row: 1;
    background-color: #b1fae080;
    height: 16rem;
    width: 100%;
    border-radius: 0.5rem;
  }

  .view-card {
    grid-column: 1 ;
    grid-row: 2 ;
    background-color: #FDFDFD80;
    height: 12.5rem;
    width: 100%;
    border-radius: 0.5rem;

  }

  .schedule-card {
    grid-column: 1;
    grid-row: 3 / span 4;
    background-color: #FDFDFD80;
    height: 30.5rem;
    width: 100%;
    border-radius: 0.5rem;
  }

}
