.priority-projects {
  background-color: #b1fae080;
  margin-top: 100px;
  margin: 20px;
  margin-left: 230px;
  border-radius: 4%;
}

.d-text {
  padding: 20px;

}

.view-projects {
  background-color: #FDFDFD80;
  margin-left: 230px;
  margin-bottom: 100px;
  margin-right: 667px;
  border-radius: 4%;

}

.date-project {
  background-color: #FDFDFD80;
  margin-right: 230px;
  margin-top: 20px;
}

.see-p {
  margin-top: 84px;
  width: 144px;
  height: 30px;
  margin-left: 400px;
  color: #000000;

}



.icons {
  margin-left: 488px;
  margin-bottom: 10px;

}

.top-corner {
  position:absolute;
   top:0;
   right: -48px;
   margin-top: 100px;
   border-radius: 4%;

}
