.priority-projects {
  background-color: #7B8C8680;
  margin-top: 100px;
  margin: 20px;
  margin-left: 230px;
}

.d-text {
  padding: 20px;

}

.view-projects {
  background-color: #FDFDFD80;
  margin-left: 230px;
  margin-bottom: 50px;
}

.date-project {
  background-color: #FDFDFD80;
  margin-right: 230px;
  margin-top: 20px;
}

.see-p {
  margin-top: 84px;
  width: 144px;
  height: 30px;
  margin-left: 400px;
}

.Eye {
  margin-left: 488px;
  text-align: center;
}

.Icons {
  margin-left: 488px;
}
