// Specific CSS for your home-page
/* Small */
// @media (min-width: 768px) {
//   .container {
//     width: 750px;
//   }
// }

// /* Medium */
// @media (min-width: 992px) {
//   .container {
//     width: 970px;
//   }
// }

// /* Large */
// @media (min-width: 1200px) {
//   .container {
//     width: 1170px;
//   }
// }

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(70vh - 80px);
}

.landing-page .content .info {
  h1 {
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-left: 161px;
  }

  p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
    margin-left: 161px;
  }
}

.Green-text {
  color: #4CAF4F !important;
  font-weight: 700;
  font-size: 30px;

}

.about {
  padding: 130px 0;
  background-color: white;
}

.about .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.about .heading h2 span {
  color: #4CAF4F;

}

.about .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;

}

.about h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 15px;
  padding: 0;
}

.about h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 8px 0;
}

.about h4 i {
  color: #4CAF4F;
  margin-right: 10px;
}

/* End Landing Page */

#call-to-action {
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: black;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: black;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #4CAF4F;
  color: #4CAF4F;
}

#call-to-action .cta-btn:hover {
  background: white;
  border: 2px solid #4CAF4F;
}


.register-button{
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 10px;
  color: rgb(76, 175, 79);
  padding: 8px 28px;
  border-radius: 25px;
  border-width: 2px;
  border-color: rgb(76, 175, 79);
  text-decoration: none;
  transition: 0.5s;
  margin-left: 161px;
}

.register-button:hover {
  background: #00800066;
  border: 2px solid #4CAF4F;
}
