.login {
  padding-left: 50%;
  margin-top: 30px;
}

.sign-upbutton{
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  border: 2px solid #4CAF4F;
  border-radius: 25px;

}

.des-task {
  margin-top: 1.25rem;
  text-align: center;
}

.rem-text {
  margin-left: 5.313rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;

}


.button-login {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 25px;
  margin-top: 30px;
  border: 2px solid #4CAF4F;
  color: #4CAF4F;
  margin-left: 74px;
}
.button-login:hover {
  background: #4CAF4F;
  border: 2px solid #4CAF4F;
  color: #ebedeb;
}

.sign-text {
  margin-top: 10px;
}

.wrapper-login {
	margin-top: 20px;
  margin-bottom: 6.25rem;
  display: flex;
  justify-content: center;
  margin-top: 25vh;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 30vh;
  z-index:1000;

}

.wrapper-signup {
	margin-top: 1.25rem;
  margin-bottom: 6.25rem;
  display: flex;
  justify-content: center;
  margin-top: 25vh;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 30vh;
  z-index:1000;
}

.form-login {
  max-width: 23.75rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.form-signin {
  max-width: 23.75rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  margin-bottom: 12.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.form-signin2 {
  max-width: 23.75rem;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;

	}

  .form-controlr {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 0.625rem;
    width:18.75rem;
    background-color: #f4f4f4;
    isplay: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    padding: 0.375rem 0.75rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

    }

.sign-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 25px;
  border: 2px solid #4CAF4F;
  color: #4CAF4F;
}
.sign-link:hover {
  background: #b1e1b3;
  border: 2px solid #4CAF4F;
  color: #ebedeb;
}
.button-login2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 25px;
  border: 2px solid #4CAF4F;
  color: #4CAF4F;
  margin-left: 14px;
  margin-bottom: 10px;
}
.button-login2:hover {
  background: #b1e1b3;
  border: 2px solid #4CAF4F;
  color: #ebedeb;
}

.next-button {

font-family: "Montserrat", sans-serif;
text-transform: uppercase;
font-weight: 500;
font-size: 16px;
letter-spacing: 1px;
padding: 8px 28px;
border-radius: 25px;
margin-top: 20px;
border: 2px solid #4CAF4F;
color: #4CAF4F;
}

.next-button:hover {
  background: #4CAF4F;
  border: 2px solid #4CAF4F;
  color: #ebedeb;
}



// .form-n2 {
//   margin-top: 10px;
// }

.form-n3 {
  margin-top: 5.375rem;
}

.frgt-pass {
  background: transparent;
  float: left;

}

.fa-brands {
  margin-top: 1.25rem;
}

.fa-regular {
  margin-top: 1.25rem;
}

.fa-solid {
  margin-top: 1.25rem;
}

.fa-user-circle{
  margin-top: 1.25rem;
}

.fa-key {
  margin-top: 1.25rem;
}
