.show-form {
  background-color: #FDFDFD80;
  margin-top: 40px;
  text-align: center;
}

.des-proj {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 20px;
  color: #286848;
}

.task-proj {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 20px;
  color: #286848;
  width: 300px;
}

.li-des {
  margin-top: 24px;
}


.fa-square-check {
  margin-right: 10px;
  font-size: 33px;
}
.fa-comments-dollar {
  margin-right: 10px;
  font-size: 33px;
}

.fa-clock {
  margin-right: 10px;
  font-size: 33px;
}

.fa-hourglass-end {
  margin-right: 10px;
  font-size: 33px;
}

.fa-calendar-days {
  margin-right: 10px;
  font-size: 33px;
}
 .fa-trash {
  font-size: 30px;

 }
 .fa-square {
  font-size: 30px;
 }
