.show-form {
  background-color: white;
  margin-top: 7.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  max-height: 300rem;
  margin-bottom: 5.5rem;


}

.des-proj {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 20px;
  color: #286848;
}


.card-25 {
  display: inline-block;
  align-items: start;
}

.card-26 {
  display: flex;
  justify-content: space-between;
}

.card-27 {

  width: 31rem;
}

.text-11 {
  margin-left: 4rem;
  width: 20rem;
}


.show-card-2 {
  text-align: center;
  padding-right: 23rem;
  padding-top: 5rem;
  min-width: 30rem;
}

.task-proj {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;

  font-size: 20px;
  color: #286848;
  width: 300px;
}

.li-des {
  margin-top: 24px;
}


.fa-square-check {
  margin-right: 10px;
  font-size: 33px;
}
.fa-comments-dollar {
  margin-right: 10px;
  font-size: 33px;
}

.fa-clock {
  margin-right: 10px;
  font-size: 33px;
}

.fa-hourglass-end {
  margin-right: 10px;
  font-size: 33px;
}

.fa-calendar-days {
  margin-right: 10px;
  font-size: 33px;
}
 .fa-trash {
  font-size: 30px;

 }
 .fa-square {
  font-size: 30px;
 }
