<div class="container show-form p-3 pb-5">
  <h1 class="des-task text-2">Add Your Task <%= @project.name %></h1>

  <ul>
    <% unless @project.tasks == []  %>
      <% @project.tasks.each do |task| %>
      <li><%= task.name %></li>
      <% end %>
    <% end %>
  </ul>

  <%= render "form", project: @project, task: @task %>

  <%= link_to "Back to dashboard", dashboard_path, class:"button-1" %>
</div>
