<div class="container">
  <h1> Schedule </h1>

  <ul>
    <li><%=  Date.today %></li>
    <li>Start Time ---- 9 hours</li>
    <li>Break --------- 10:30 hours</li>
    <li>Lunch Time ---- 12:00 hours</li>
    <li>Back to Work -- 13:00 hours</li>
    <li>Break --------- 15:00 hours</li>
    <li>Break --------- 16:30 hours</li>
    <li>End Time ------ 18:00 hours</li>
  </ul>

</div>
