<div class="landing-page">
        <header>
          <div class="container">
            <a href="" class="logo">Work <b>Smart</b></a>
            <ul class="links">
              <li>Home</li>
              <li>About Us</li>
              <li>Features</li>
              <li>Pricing</li>
              <li>Register Now </li>
            </ul>
          </div>
        </header>

      </div>
