<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

<div class="landing-page">
  <div class="content pt-5">
    <div class="container">
      <div class="info">
        <h1 class="text-2">Think Less, Live More</h1>
        <div>
          <h1 class= "Green-text work-smart">WorkSmart</h1>
        </div>
        <p class="dash-text4">Deliver your best work with work-smart.me</p>
        <%= link_to new_user_registration_path do %>
          <button class="register-button">Register Now!</button>
        <% end %>
      </div>
      <div class="image">
        <%= image_tag 'home.png' %>
      </div>
    </div>
  </div>
</div>
<section class="about" id="about">
  <div class="container">
    <div class="heading text-center">
        <h2 class="text-2">A platform built for a <span>new way of working</span></h2>
        <p class="dash-text4">Take control of your ideal workflow, your way<br>Manage your projects, view your workflow, plan your schedule, be healthy and efficient with your workflow.</p>
    </div>
  <div class="row">
    <div class="col-lg-6">
      <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="about" class="img-fluid" width="100%">
    </div>
  <div class="col-lg-6">
      <h3 class="text-2">Streamline your work for maximum productivity</h3>
      <p class="dash-text4">Centralize all your work, projects, and schedule into one efficient app. Keep track of your work progress and your hours spent on each project.</p>
  <div class="row">
      <div class="col-md-6">
        <h4><i class="far fa-star"></i>Simplicity Focused</h4>
        </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Track Your Work Hours</h4>
        </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Accurate and Efficient Workflow</h4>
      </div>
      <div class="col-md-6">
         <h4><i class="far fa-star"></i>Sustainable Time Managment</h4>
      </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Manage your Projects</h4>
      </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Perfect for Freelancers</h4>
      </div>
  </div>
    </div>
      </div>
          </div>
</section>

    <!-- #about -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3 class="text-2">Having Problems keeping track on your goals?</h3>
        <p class="text-center">
         With WorkSmart you can set and track your goals, view your workflow, manage your tasks, and lots more.      </p>
        <a class="cta-btn" href="#">Get Started</a>
        <div style="margin-top: 8px;">No credit card needed &nbsp; ✦ &nbsp;  Unlimited time on Free plan</div>
      </div>
    </section><!-- #call-to-action -->

</body>
</html>
