<div class="landing-page">
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>Think Less Live More</h1>
        <div>
          <h1 class= "Green-text">Work Smart</h1>
        </div>
        <p>Deliver your best work with SmartWork.com</p>
        <button class= "register-button">Register Now!</button>
      </div>
      <div class="image">
        <%= image_tag 'home.png' %>
      </div>
    </div>
  </div>
</div>
<section class="about" id="about">
  <div class="container">
    <div class="heading text-center">
        <h2>A platform built for a <span>new way of working</span></h2>
        <p>The Work OS that lets you shape workflows, your way<br>Boost your team’s alignment, efficiency, and productivity by customizing any workflow to fit your needs.</p>
    </div>
  <div class="row">
    <div class="col-lg-6">
      <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="about" class="img-fluid" width="100%">
    </div>
  <div class="col-lg-6">
      <h3>Streamline your work formaximum productivity</h3>
      <p>Centralize all your work, processes, tools, and files into one Work OS. Connect teams, bridge silos, and maintain one source of truth across your organization.</p>
  <div class="row">
      <div class="col-md-6">
        <h4><i class="far fa-star"></i>Awesome Design</h4>
        </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Creative Design</h4>
        </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Better Client Service</h4>
      </div>
      <div class="col-md-6">
         <h4><i class="far fa-star"></i>Digital Marketing & Branding</h4>
      </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Creative Design</h4>
      </div>
      <div class="col-md-6">
          <h4><i class="far fa-star"></i>Speed And Flexibility</h4>
      </div>
  </div>
    </div>
      </div>
          </div>
</section>

    <!-- #about -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Having Problems keeping track on your goals?</h3>
        <p class="text-center">
         With WorkSmart you can set and track your goals, track time, manage task, and lots more.      </p>
        <a class="cta-btn" href="#">Get Started</a>
        <div style="margin-top: 8px;">No credit card needed &nbsp; ✦ &nbsp;  Unlimited time on Free plan</div>
      </div>
    </section><!-- #call-to-action -->
