<div class="container show-form py-3">
  <h1>All of your unfinished projects</h1>

  <ul>
    <% @projects.each do |project| %>
      <li class="d-flex w-100 justify-content-around">
        <p class="text-1 my-4 w-25"><%= project.name %></p>
        <div class="p-2 align-self-center">
          <%= link_to "View",  project_path(project.id), class:"button-1 my-auto"%>
          <%= link_to "Delete",
                      project_path(project.id),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                      class:"my-auto button-2"
          %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
