<div class="container show-form w-75 py-3 index ">
  <h1 class= "text-2">Unfinished Projects</h1>

  <ul>
    <% @projects.each do |project| %>
      <li class="d-flex w-100 justify-content-around ">
        <p class="text-7 my-4 w-25"><%= project.name %></p>
        <div class="p-2 align-self-center d-flex justify-content-around w-25">
          <%= link_to "View",  project_path(project.id), class:"button-1"%>
          <%= link_to "Delete",
                      project_path(project.id),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                      class:"my-auto button-2"
          %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
