
.product-form{
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}


.add-product-card {
  background-color: #ffffff;
  height:40rem;
  width: 23rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 2rem;


}
.position5 {
  margin-top: 2rem
}

.projext-field {
  text-align: center;
}
