
.create-b{
margin-bottom: 20px;
border-radius: 25px;
transition: 0.5s;
margin-top: 10px;
border: 2px solid #4CAF4F;
color: #4CAF4F
}

// .create-b:hover {
//   background: white;
//   border: 2px solid #4CAF4F;
// }
