header {
  min-height: 80px;
  display: flex;
  background-color: #FFFFFF;
  opacity: 80%;
}

.logo {
 height: 3rem;
 width: 20rem;

}

.menu {
  margin-top: 40px;
  padding-left: 17px;
}

.notify-icon {
  margin-top: 20px;
}


.nabar-button {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  color: rgb(76, 175, 79);
  padding: 8px 28px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(76, 175, 79);
  text-decoration: none;
  transition: 0.5s;
  background-color: #d2f8e7;
  color: rgb(4, 8, 4);
}

.nabar-button:hover {
  background: white;
  border: 2px solid #4CAF4F;
}


.nabar-button-login {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  color: rgb(76, 175, 79);
  padding: 8px 28px;
  border-radius: 25px;
  border-width: 2px;
  border-color: rgb(76, 175, 79);

}

.nabar-button-login:hover {
  background: white;
  border: 2px solid #4CAF4F;
}


.navbar-button-start {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 20px;
  color: rgb(76, 175, 79);
  padding: 8px 28px;
  border-radius: 25px;
  border-width: 0.5px;
  border-color: rgb(76, 175, 79);
  margin-bottom: 10px;
}
.navbar-button-start:hover {
  background: white;
  border: 2px solid #4CAF4F;
}

.navbar-text {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 10px;
  list-style: none;

}

.l-r-space{
  margin-right: 20px;
  margin-top: 21px;

}

.menu {
  margin-top: 40px;
  padding-left: 17px;
}

.notify-icon {
  margin-top: 20px;
  height: 3rem;
  width: 8rem;
}


@media (max-width: 600px) {
  .logo {
    height: 3rem;
    width: 10rem;

   }

}
