a {
  text-decoration: none ;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-text {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  color: rgb(76, 175, 79);

}

.logo-2 {
  padding-right: 5px;
}

.home-text {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;

}

#sidebar {
  position: absolute;
  left: 0px;
  top:80px;
  z-index: 10;
  height: 100%;
  background-color: #ccc !important;
  opacity: 90%;
}

.sidebar-item {
  &:hover {
    background-color: #4CAF4F;
    color: white !important;
  }
}
